In [16]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

book_data = pd.read_csv("books.csv")
book_data

    age  gender         category
0    20       1           Action
1    23       1           Action
2    25       1           Action
3    26       1        adventure
4    29       1        adventure
5    30       1        adventure
6    31       1              Art
7    33       1              Art
8    37       1              Art
9    20       0            Crime
10   21       0            Crime
11   25       0            Crime
12   26       0          Fiction
13   27       0          Fiction
14   30       0          Fiction
15   31       0  Science Fiction
16   34       0  Science Fiction
17   35       0  Science Fiction

In [11]:
input_data = book_data.drop(columns=['category'])
input_data

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
output_data = book_data['category']
output_data

0              Action
1              Action
2              Action
3           adventure
4           adventure
5           adventure
6                 Art
7                 Art
8                 Art
9               Crime
10              Crime
11              Crime
12            Fiction
13            Fiction
14            Fiction
15    Science Fiction
16    Science Fiction
17    Science Fiction
Name: category, dtype: object

In [9]:
 model = DecisionTreeClassifier()
model.fit(input_data, output_data)
predictions= model.predict([[21,1],[22,0]])
predictions

array(['Action', 'Crime'], dtype=object)

In [13]:
input_train,input_test,output_train,output_test = train_test_split(input_data,output_data,test_size=0.2)

In [14]:
train_test_split(input_data,output_data,test_size=0.2)

[    age  gender
 6    31       1
 2    25       1
 9    20       0
 14   30       0
 12   26       0
 8    37       1
 17   35       0
 3    26       1
 1    23       1
 11   25       0
 5    30       1
 7    33       1
 0    20       1
 10   21       0,     age  gender
 16   34       0
 15   31       0
 4    29       1
 13   27       0, 6                 Art
 2              Action
 9               Crime
 14            Fiction
 12            Fiction
 8                 Art
 17    Science Fiction
 3           adventure
 1              Action
 11              Crime
 5           adventure
 7                 Art
 0              Action
 10              Crime
 Name: category, dtype: object, 16    Science Fiction
 15    Science Fiction
 4           adventure
 13            Fiction
 Name: category, dtype: object]

In [15]:
input_train

    age  gender
9    20       0
12   26       0
7    33       1
2    25       1
5    30       1
1    23       1
3    26       1
0    20       1
6    31       1
4    29       1
17   35       0
14   30       0
13   27       0
8    37       1

In [16]:
input_test

    age  gender
15   31       0
10   21       0
16   34       0
11   25       0

In [76]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib

book_data = pd.read_csv("books.csv")
input_data = book_data.drop(columns=['category'])
output_data = book_data['category']
input_train,input_test,output_train,output_test = train_test_split(input_data,output_data,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(input_train, output_train)
predictions= model.predict(input_test)
score = accuracy_score(output_test,predictions)
score

0.75

In [77]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib

book_data = pd.read_csv("books.csv")
input_data = book_data.drop(columns=['category'])
output_data = book_data['category']
input_train,input_test,output_train,output_test = train_test_split(input_data,output_data,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(input_train, output_train)

joblib.dump(model,'book-recommender.joblib')

C:\Users\thinclient-127\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['book-recommender.joblib']

array(['Crime', 'Action', 'Crime', 'Action'], dtype=object)

In [100]:
from sklearn.externals import joblib

model = joblib.load('book-recommender.joblib')
predictions = model.predict([[21,1],[22,0]])
predictions

array(['Action', 'Crime'], dtype=object)

In [102]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

book_data = pd.read_csv("books.csv")
input_data = book_data.drop(columns=['category'])
output_data = book_data['category']
model = DecisionTreeClassifier()
model.fit(input_data, output_data)

tree.export_graphviz(model,out_file='book-recommender.dot',feature_names=['age','gender'],class_names=sorted(output_data.unique()),label='all',rounded=True,filled=True)